.hero-section {
    height: 85vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.hero-content {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.hero-title {
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

.hero-bottom {
    justify-content: center;
    text-align: center;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-size: 20px;

}

.hero-btns {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    justify-content: space-between;
}

.hero-btns a {
    margin-top: 100px;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    font-size: 20px;
}

.hero-btns a:hover {
    background-color: var(--background);
    transition: 0.3s ease;
}

.add-to-watchlist-btn {
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--text-color);
    padding: 10px 15px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    margin:10px;
}

.add-to-watchlist-btn:hover {
    background-color: var(--background);
    transition: 0.3s ease;
    cursor: pointer;
}